


.button{
    padding: 10px 30px;
    background: black;
    color:  white;
    border-radius: 50px;
    width: min-content;
    user-select: none;
}


.black{
    background: black;
}
.profile-image{
    width:500px;
    height: 500px;
}
body{
    margin: 0;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    max-width: 360px;
    height: 100%;
}
.profile-text{
    text-align: center;
}
.calc-button{
    background: white;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}
.calc-row{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.calc-string{
    background: white;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 100%;
}

#parent{
    width: 600px;
    height: 600px;
    background: rgb(76, 76, 92);
    border-collapse: collapse;
    user-select: none;
}
.cell{
    border: solid black 2px;
    text-align: center;
    width: 60px;
    height: 60px;
}
.cell-active{
    background: red;
}
.cell-closed{
    background: wheat;
}
.cell-open-clear{
    background: white;
}
.cell-open-near{
    background: green;
}
.cell-mark{
    background: blue;
}
.white{
    background: white;
}

.block{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    min-height: 100vh;
}

.block-column{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    min-height: 100vh;
}
.card{
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2px;
    margin:30px 20%;
    padding: 20px 50px;
    width: 60%;
}

.card-image{
    width: 20%;
    display: inline-block;
    box-sizing: border-box;
    flex-shrink: 1;
}

.card-text{
    margin-left: 50px;
    width: 80%;
    display: inline-block;
    box-sizing: border-box;
    flex-shrink: 100;
}

.vertical-hr{
    height: 100px !important;
    margin-left: 20px;
    width: 5px;
    border-radius: 2px;
    border: solid black 5px;
    border-width: 0px 0px 0px 5px;
}