.white-container {
  display: flex;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  justify-content: center;
}

.gray-container {
  display: flex;
  background: gray;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.game-holder {
  background: red;
  width: 600px;
  height: 700px;
}

.description {
  height: 700px;
  width: 300px;
  background: white;
}

.game {
  height: 600px;
  width: 600px;
  background: blue;
}

.top-bar {
  height: 100px;
  width: 600px;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diff-selector {
  height: 50px;
  width: 100px;
  background: white;
  margin: 20px;
}

.button {
  height: 50px;
  width: 100px;
  background: white;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mine-counter {
  height: 50px;
  width: 100px;
  background: white;
  margin: 20px;
}

.timer {
  height: 50px;
  width: 100px;
  background: white;
  margin: 20px;
}

.sound {
  height: 50px;
  width: 100px;
  background: white;
  margin: 20px;
}

.mine-cell {
  box-sizing: border-box;
  border: solid black;
}

.mine-cell-active {
  background: white;
}

.mine-cell-inactive {
  background: gray;
}

.minefield {
  border-collapse: collapse;
}























.switch-holder{
  display: flex;
  width: 10em;
  justify-content: space-between;
  align-items: center;
}

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+#blue {
  background-color: #2196F3;
}

input:focus+#blue {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+#red {
  background-color: #f32121;
}

input:focus+#red {
  box-shadow: 0 0 1px #f32121;
}

input:checked+#green {
  background-color: #4bf321;
}

input:focus+#green {
  box-shadow: 0 0 1px #4bf321;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}