#parent {
    width: 600px;
    height: 600px;
    background: rgb(76, 76, 92);
    border-collapse: collapse;
    user-select: none;
}

.cell {
    background: wheat;
    border: solid black 2px;
    text-align: center;
}

.white {
    background: white;
}

.block {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.cell-active {
    background: red;
}

.butt {
    padding: 10px 30px;
    background: black;
    color: white;
    border-radius: 50px;
    width: min-content;
    user-select: none;
}